html, body{
    margin: 0;
}

header {
    width: 100%;
    height: 43px;
    background-color: rgb(40, 40, 40);
    display: flex;
    justify-content: center;
}

header a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

h1 {
    color: aliceblue;
    margin: 0;
    font-size: 24px;
}

.work-area {
    margin: 50px auto;
    width: 500px;
    border: 1px solid;
}

.work-area__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-area__wrapper h2{
    margin: 0;
}

.not-checked {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: 1.5px solid;

}

.checked {
    background-image: url('icons/checked.svg');
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: 1.5px solid;
}

.work-area__wrapper-items {
    display: flex;
}

.work-area__wrapper-item {
    display: flex;
    width: 450px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.right-side {
    display: flex;
    width: 50px;
    justify-content: space-between;
    align-items: center;
}

.right-side .edit {
    border: none;
    /* background-color: #ffffff; */
    background: url('icons/edit.svg')center center/cover no-repeat;
    width: 20px;
    height: 20px;
}
.right-side .delete {
    /* background-color: #ffffff; */
    background: url('icons/delete.svg')center center/cover no-repeat;
    width: 20px;
    height: 20px;
    border: none;
}



.left-side {
    display: flex;
    align-items: center;
}

.left-side .items-title {
    margin-left: 10px;
    font-size: 20px;
}